.container-login100 {
	width: 100%;  
	min-height: 100vh;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	padding: 15px;
	background: #9053c7;
	background: -webkit-linear-gradient(-135deg, #c850c0, #4158d0);
	background: -o-linear-gradient(-135deg, #c850c0, #4158d0);
	background: -moz-linear-gradient(-135deg, #c850c0, #4158d0);
	background: linear-gradient(-135deg, #c850c0, #4158d0);
  }

  .wrap-login100 {
	width: 900px;
	background: #fff;
	border-radius: 10px;
	overflow: hidden;
  
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 2rem 1rem;
  }

  .login100-pic {
	width: 300px;
  }
  
  .login100-pic img {
	max-width: 100%;
  }

  .login100-form {
	width: 290px;
  }
  
  

  @media (max-width: 992px) {
	.wrap-login100 {
	  padding: 1rem 2rem;
	}
  
	.login100-pic {
	  width: 35%;
	}
  
	.login100-form {
	  width: 50%;
	}
  }
  
  @media (max-width: 768px) {
	.wrap-login100 {
	  padding: 100px 80px 33px 80px;
	}
  
	.login100-pic {
	  display: none;
	}
  
	.login100-form {
	  width: 100%;
	}
  }
  
  @media (max-width: 576px) {
	.wrap-login100 {
	  padding: 100px 15px 33px 15px;
	}
  }
  